{% extends 'core/base.html' %}


{% block title %} Contact {% endblock %}

{% block content %}
<div class="space-y-4">
    <h1 class="py-2 font-semibold text-3xl text-teal-700 ">The contact page</h1>
    <p class="font-semibold px-1 text-lg text-black-700 ">Contact us on
    <ul class="space-y-4">
        <li>+263 783 607 500 MURWIRA RAPHINIEL R</li>
        <li>+263 774 512 708 TAKUDZWA TIVAVONE MJ</li>
        <li>+263 781 289 679 TANAKA VENGESAI AJ</li>
        <li>+263 774 321 679 TAFADZWA R MUZAMAI</li>
    </ul>
    </p>
</div>

{% endblock %}